* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: #24acac;
    background: linear-gradient(90deg, #24acac 0%, #6d0e93 100%); 
    box-shadow: 1px 10px 50px #6d0e93;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 30px 0px 30px;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.navbar, .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list li:first-child > a {
    color: #25b6c3;    
}

.navbar-list a {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 10px
}

.cart-icon {
    height: 30px;    
    padding: 5px 10px;
    cursor: pointer;
}

body {
    background: #120412;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;
    color: #fff;
}

/* Section hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 40px;
    padding: 10px 0px 0px 0px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-info h1 {
    font-size: 50px;
    color: #25b6c3;
}

.hero-info span {
    font-size: 25px;
    margin-bottom: 20px;
}

.hero-info p {
    font-size: 17px;
    width: 70%;
}

.hero-info p > span {
    font-size: 17px;
    font-weight: 600;
}

.hero-info-button {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.hero-info a {
    width: 150px;
    padding: 9px 0px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background: #583A9A;
    border-radius: 17px;
}

.hero-info a:hover {
    color: #000;
    background: #24acac;
}

.hero-img {
    width: 300px;
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    border: 1px solid red;
    border-radius: 20px;
    height: 450px;
    width: 250px;
}

.linea {
    border-color: #6d0e93;
    width: 70%;
    margin: 40px 0px 40px 0px;
}

/* Menu */

#menu-toggle,
.menu-label{
    display: none;
}

/* Section Nosotros */

#nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.nosotros-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 80%;
}

.nosotros-info h2 {
    font-size: 50px;
    color: #25b6c3;
}

.nosotros-info p {
    font-size: 17px;
}

/* Section Cards */

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-text h2 {
    font-size: 50px;
    color: #25b6c3;
}

.card-text p {
    font-size: 17px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #6d0e93;
    align-items: center;
    text-align: center;
    gap:10px;    
    background: #400955;
}

.card-info img {
    width: 70px;
}

.card-info h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.card-info p {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #fff;
}

/* Contact Us */

#contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 20px;
}

.contact-us-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-us-container h2 {
    font-size: 50px;
    color: #24acac;
    text-align: center;
}

.contact-us-info-shops {
    display: flex;
    gap: 40px;
    padding: 30px;
    border: 1px dashed #6d0e93;
}

.contact-us-info-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact-us-info-shop ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us-info-shop li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-us-info-shop h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-us-info-shop img {
    width: 30px;
}

.contact-us-info-shop img {
    width: 30px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 40px;
    background-color: #400955;
    border-top: 1px solid #583A9A;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-links img {
    width: 30px;
    cursor: pointer;
}

.footer-links a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}